{% extends 'base.html' %}


{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('core.static', filename='css/home-style.css') }}">
{% endblock %}

{% block title %}Home Page{% endblock %}


{% block content %}
<div id="content">
  <h1 id="page-title">Home</h1>
</div>
<p id="welcome-text">Welcome In {{ current_user.username }}</p>
<a id="logout-link" href="/auth/logout">
  <p>Logout</p>
</a>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('core.static', filename='js/home-scripts.js') }}"></script>
{% endblock %}