<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subjects Dashboard</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('core.static', filename='css/subject-style.css') }}"
    />
  </head>
  <body>
    <div id="subjects-container">
      <h1 id="page-title">Subjects</h1>
      <!-- Button to Open Modal -->
      <button id="add-subject-button">Add New Subject</button>

      <!-- Modal Structure -->
      <div id="add-subject-modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <form id="add-subject-form" method="post">
            <label for="name"
              >Subject Name <span class="required">*</span></label
            >
            <input type="text" id="name" name="name" required />

            <label for="code">Subject Code <span class="required">*</span></label
            >
            <input type="text" id="code" name="code" required />

            <label for="instructor">Instructor</label>
            <input type="text" id="instructor" name="instructor" />

            <label for="contact-info"
              >Contact Info <span class="required">*</span></label
            >
            <input type="text" id="contact-info" name="contact-info" required />

            <label for="description">Description</label>
            <textarea id="description" name="description"></textarea>

            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
      
      <!-- Subjects Grid Container -->
      <div class="subjects-grid-container">
        {% for subject in subjects %}
            <div class="subject-card">
                <h2 id="name" class="subject-info">{{ subject.name }}</h2>
                <p id="code" class="subject-info">Code: {{ subject.code }}</p>
                <p id="instructor" class="subject-info">Instructor: {{ subject.instructor }}</p>
                <p id="contact-info" class="subject-info">Contact Info: {{ subject.contact_info }}</p>
                <p id="description" class="subject-info">Description: {{ subject.description }}</p>
            </div>
        {% endfor %}
      </div>
    </div>
    <script src=" {{ url_for('core.static', filename='js/subject-scripts.js') }}"></script>
  </body>
</html>
