/* DashboardApp/auth/static/auth-style.css */

html,
body {
  display: block;
}

#background {
  /* layout */
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: relative;

  /* style */
  background-image: url("img/login-background.jpg");
  background-size: cover;
}

#login-box,
#signup-box {
  /* layout */
  width: 50em;
  height: 40em;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  min-width: 100px;
  max-width: 800px;
  min-height: 200px;
  max-height: 900px;

  /* style */
  border-radius: 4vw;
  opacity: 0.99;
  background: var(--color-background);

  /* Flexbox properties for centering children */
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers children horizontally in the container */
  justify-content: center; /* This centers children vertically in the container */
}

#login-title,
#signup-title {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 25px;

  /* typography */
  color: var(--color-text);
  text-align: center;
  font-size: calc(3em + 1vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#error-box {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 1em;
  margin-bottom: 10px;
  width: 110%;
}

#error-message {
  /* typography */
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  line-height: normal;
  margin: 0.5em;
}

#login-form,
#signup-form {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40%;
  height: 40%;
}

.field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 1em;
}

#username-field,
#password-field,
#confirm-password-field {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: var(--color-accent1);
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  height: 1.5em;
}

#username-field:focus,
#password-field:focus,
#confirm-password-field:focus {
  background-color: var(--color-accent2);
  transform: scale(1.05);
  box-shadow: 5px 5px 10px #969696, -5px -5px 10px #8f8f8f;
}

.subtitle {
  margin: 0;
  margin-bottom: 0.5em;
  color: var(--color-background);
  transition: color 300ms ease-in-out;
}

/* #region Placeholder Animation */
#username-field:not(:placeholder-shown),
#password-field:not(:placeholder-shown),
#confirm-password-field:not(:placeholder-shown) {
  margin-bottom: 0;
}
#username-field:not(:placeholder-shown) + #username-subtitle,
#password-field:not(:placeholder-shown) + #password-subtitle,
#confirm-password-field:not(:placeholder-shown) + #confirm-password-subtitle {
  color: var(--color-text);
}
/* #endregion */

/* #region Buttons Style*/
#buttons {
  display: flex; /* or 'display: grid;' */
  justify-content: space-around; /* For Flexbox */
  gap: 10px; /* For Grid */
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 3em;
  height: 3em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--color-primary);
  font-size: calc(0.5em + 0.5vw);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--color-text);
}
/* text */
.text {
  font-family: MuseoModerno;
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--color-text);
  font-size: 1em;
  font-weight: 400;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 175px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}
/* #endregion */

/* #region Arrow Style */
#go-back {
  display: inline-flex;
  align-items: center;
}
#back-link {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  margin-left: 10px;
}
.arrow {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  /*   border:solid 1px white; */
  transition: 0.5s;
  overflow: hidden;
}

.arrow:hover {
  /*  animation:borderAni 5s cubic-bezier(0, 0.6, 1, 0.4); */
  border: solid 2px white;
  border-radius: 50%;
}
.arrow:after {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 20px;
  height: 15px;
  /*   border:solid 1px;  */
  top: -1px;
  border-bottom: solid 2px;
  transform: translatex(4px);
}

.arrow:before {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 8px;
  height: 8px;
  /*   border:solid 1px;  */
  border-top: solid 2px;
  border-left: solid 2px;
  top: 50%;
  left: 2px;
  transform-origin: 0% 0%;
  transform: rotatez(-45deg);
}
.arrow:hover:before {
  animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after {
  animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

@keyframes aniArrow01 {
  0% {
    transform: rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}

@keyframes aniArrow02 {
  0% {
    transform: translateX(45px);
  }
  100% {
    transform: translateX(-44px);
  }
}

@keyframes borderAni {
  0% {
    border: solid 2px white;
  }
  100% {
    border: solid 2px white;
    border-radius: 50%;
  }
}
/* #endregion */
