{% extends 'card.html' %}


{% block head_extra %}

{% endblock %}


{% block title %}{{ deliverable.title }}{% endblock %}


{% block errors %}

{% endblock errors %}


{% block content %}

<h1 id="page-title">{{ deliverable.title }}</h1>
<div id="function-buttons">
    <button id="edit-button" onclick="enterEditMode()">Edit</button>
    <button id="cancel-button" onclick="cancelChanges()">Cancel</button>
    <button id="save-button" onclick="saveChanges()">Save</button>
    <button id="delete-button">Delete</button>
</div>
<div id="close-circle" onclick="window.location.href='{{ parent_url }}';">
    <span class="material-symbols-outlined">cancel</span>
</div>


<div class="card-section">
    <h2>Deliverable Information</h2>
    <div class="card-section-content">
        <p><strong>Deliverable Title:</strong> <span id="deliverable-title" class="dynamic-content" data-original="{{ deliverable.title }}">{{ deliverable.title }}</span></p>
        <p><strong>Deliverable Subject:</strong> <span id="deliverable-subject" data-original="{{ deliverable.subject_name }}">{{ deliverable.subject_name }}</span></p>
        <p><strong>Deliverable Meeting:</strong> <span id="deliverable-meeting" data-original="{{ deliverable.meeting_name }}">{{ deliverable.meeting_name }}</span></p>
        <p><strong>Deliverable Description:</strong> <span id="deliverable-description" class="dynamic-content" data-original="{{ deliverable.description }}">{{ deliverable.description }}</span></p>
    </div>
</div>
<div class="card-section">
    <h2>Deliverable Details</h2>
    <div class="card-section-content">
        <p><strong>Deliverable Assigned Date:</strong> <span id="deliverable-assigned-date" class="dynamic-content" data-original="{{ deliverable.assigned_date.strftime('%Y-%m-%d') }}">{{ deliverable.assigned_date.strftime("%Y-%m-%d") }}</span></p>
        <p><strong>Deliverable Due Date:</strong> <span id="deliverable-due-date" class="dynamic-content" data-original="{{ deliverable.due_date.strftime('%Y-%m-%d') }}">{{ deliverable.due_date.strftime("%Y-%m-%d") }}</span></p>
        <p><strong>Deliverable Status:</strong> <span id="deliverable-status" class="dynamic-content" data-original="{{ deliverable.status }}">{{ deliverable.status }}</span></p>
        <p><strong>Deliverable Grade:</strong> <span id="deliverable-grade" class="dynamic-content" data-original="{{ deliverable.grade }}">{{ deliverable.grade }}</span></p>
    </div>
</div>
<div class="card-section">
    <h2>Deliverable Content</h2>
    <div class="card-section-content">
        <!-- {% if deliverable.attachments %}
        <div class="card-section">
            <div class="card-section-content">
                <p><strong>Attachments:</strong></p>
                <ul>
                    {% for attachment in deliverable.attachments %}
                    <li>{{ attachment }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %} -->
    </div>
</div>


{% endblock %}

{% block scripts %}

{% endblock %}