/* DashboardApp/core/static/css/deliverable-style.css */

/* #region Controls */
#controls {
  display: inline-block;
}
#controls input{
  border-radius: 1vh;
}
/* #endregion */

/* #region deliverable Grid */
.deliverable-grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Creates a responsive grid */
  gap: 20px; /* Space between cards */
  padding: 20px; /* Padding around the grid */
}

@media (max-width: 600px) {
  .deliverables-grid-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Adjust column size on smaller screens */
  }
}

/* #endregion deliverable Grid */
