/* DashboardApp/core/static/css/home-style.css */

#content {
  flex-grow: 1;
  min-width: calc(100vw - 50px);
  max-height: 100vh;
  margin-left: 15px;
  overflow-y: auto;
  color: var(--color-text);
}
