/* DashboardApp/core/static/css/subject-style.css */

#page-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-text);
  margin: 0;
}

/* #region Controls */
#controls {
  display: inline-block;
}
#controls input{
  border-radius: 1vh;
}
/* #endregion */

/* #region New Subject Modal */
/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--color-background);
  background-color: var(var(--color-accent1));
}

.modal-content {
  background-color: var(--color-border);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: var(--color-background);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Required field asterisk */
.required {
  color: red;
}
/* #endregion New Subject Modal */

/* #region Subject Grid */
.subjects-grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Creates a responsive grid */
  gap: 20px; /* Space between cards */
  padding: 20px; /* Padding around the grid */
}

.subject-card {
  background-color: var(--color-secondary); /* Card background color */
  box-shadow: 5px 15px 8px rgba(255, 255, 255, 0.1); /* Simple shadow for depth */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensures content fits within the rounded corners */
  padding: 20px; /* Padding inside the card */
  display: flex; /* Flexbox layout for the card's content */
  flex-direction: column; /* Stack content vertically */
  margin-right: 25px;
}

.subject-card h2 {
  /* subject title */
  margin-top: 0;
  color: #333;
}

.subject-card p {
  /* suject info */
  flex-grow: 1; /* Allows the paragraph to fill available space, pushing any buttons to the bottom */
  color: var(--color-text);
}

@media (max-width: 600px) {
  .subjects-grid-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Adjust column size on smaller screens */
  }
}

.subject-card:hover{
  transform: translate(2px, 2px);
  transition: all .1s ease-in-out;
  border: 5px solid var(--color-accent1);
}
/* #endregion Subject Grid */
