/* DashboardApp/core/static/css/style.css */
:root {
  /* Background Color */
  --color-background: #1e1e1e;

  /* Primary Palette */
  --color-primary: #b91717;

  /* Secondary Palette */
  --color-secondary: #fb9c76;

  /* Accent Colors */
  --color-accent1: #d9d9d9;
  --color-accent2: #ffffff;

  --color-secondary-accent1: #ff6200;
  --color-secondary-accent2: #ff9a00;

  /* Neutrals (Optional, adjust as needed) */
  --color-text: #ffffff; /* Assuming light text for dark background */
  --color-border: #d9d9d9; /* A neutral border color */
  --color-text-accent: #3f3f3f; /* An accent color for text */
}
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  font-family: MuseoModerno;
  background-color: var(--color-background);
  display: flex;
}
#page-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-text);
  margin: 0;
}

/* #region Page Container */
#page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  transition: margin-left 0.5s ease;
}

/* #endregion Page Container */

/* #region Sidebar */
.sidebar {
  width: 50px; /* Initial width */
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  overflow-y: hidden;
  transition: 0.5s; /* Smooth transition */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center-align the text within the links */
  /* Ensure the sidebar has a defined height if it's not already full-screen or of a specific size */
  height: 100vh; /* Example: full viewport height */
}

.sidebar a {
  display: inline-block;
  align-items: left;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  color: var(--color-text); /* Assuming you have a color variable for text */
  width: 100%; /* Make link width same as sidebar */
  padding: 10px 0; /* Add some padding for spacing, adjust as needed */
}

#burger {
  position: absolute;
  top: 0;
  font-size: 25px;
  color: var(--color-text); /* Assuming you have a color variable for text */
  width: 100%; /* Make link width same as sidebar */
  padding: 10px 0; /* Add some padding for spacing, adjust as needed */
  cursor: pointer;
}

.sidebar a:hover {
  color: var(--color-accent1);
}

.sidebar .icon {
  display: inline-block;
}

.sidebar .text {
  display: none; /* Hide text initially */
}

#menu {
  list-style-type: none; /* Removes the bullet points */
  padding: 0; /* Removes padding, especially on the left side, which is often added by browsers by default */
  margin: 0; /* Removes any default margin */
}

/* Expanded sidebar */
.sidebar.expanded {
  width: 250px;
}

.sidebar.expanded .text {
  display: inline-flex; /* Show text when expanded */
}
/* #endregion Sidebar */

/* #region New Card Modal */
/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--color-background);
  background-color: var(var(--color-accent1));
}

.modal-content {
  background-color: var(--color-border);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: var(--color-background);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Required field asterisk */
.required {
  color: red;
}

.form-input-container {
  display: inline-block;
}
/* #endregion New Card Modal */

/* #region Main Content */
#content {
  flex-grow: 1;
  min-width: calc(100vw - 50px);
  max-height: 100vh;
  margin-left: 15px;
  overflow-y: auto;
}

/* #endregion Main Content */

/* #region Card Container */
.card-container {
  background-color: var(--color-secondary); /* Card background color */
  box-shadow: 5px 15px 8px rgba(255, 255, 255, 0.1); /* Simple shadow for depth */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensures content fits within the rounded corners */
  padding: 20px; /* Padding inside the card */
  display: flex; /* Flexbox layout for the card's content */
  flex-direction: column; /* Stack content vertically */
  margin-right: 25px;
  border: 5px solid var(--color-secondary-accent1);
}

.card-container h2 {
  /* deliverable title */
  margin-top: 0;
  color: var(--color-text-accent);
}

.card-container p {
  /* suject info */
  flex-grow: 1; /* Allows the paragraph to fill available space, pushing any buttons to the bottom */
  color: var(--color-text);
}

.card-container:hover{
  transform: scale(1.05); /* Scale up the card 5% on hover */
  transition: transform .3s ease;
  border: 5px solid var(--color-secondary-accent2);
}
/* #endregion Card Container */

