#close-circle {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 20%;
  background-color: var(--color-primary);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#close-circle:hover {
  transform: scale(1.05);
  animation: ease 0.5s;
}

.material-symbols-outlined {
  font-size: 1.5rem;
  color: var(--color-text);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 1;
}

.card-section {
  color: var(--color-text);
}

.card-section h2 {
  color: var(--color3);
}

#function-buttons {
  display: inline-block;
}

#function-buttons button {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

#function-buttons button:hover {
  background-color: var(--color-secondary);
}

#function-buttons button:active {
  transform: scale(0.95);
}

#cancel-button,
#save-button {
  display: none;
}

#edit-button.edit-mode {
  display: none;
}

#cancel-button.edit-mode,
#save-button.edit-mode {
  display: inline-block;
}

.dynamic-content {
  padding-left: 10px;
  padding-right: 10px;
}

.dynamic-content.edit-mode {
  border: 1px solid var(--color-secondary-accent2);
  border-radius: 1vw;
  background-color: var(--color-text-accent);
}
